/* Night Mode button*/
body.dark {
  background-color: #121212;
}
body.dark #header {
  background-color: #262727;
  color: #ffffff;
}
body.dark #work {
  background-color: #121212;
  color: #ffffff;
}
body.dark .box {
  background-color: #262727;
  color: #ffffff;
}
body.dark .box ::-webkit-input-placeholder {
  color: #ffffff;
}
body.dark .box :-moz-placeholder {
  color: #ffffff;
}
body.dark .box ::-moz-placeholder {
  color: rgb(255, 255, 255);
}
body.dark .box :-ms-input-placeholder {
  color: #ffffff;
}
body.dark #footer {
  background-color: #343D5B;
}
body.dark .content.box.style2 {
  background-color: #121212;
  color: #cccccc;
}
body.dark .content.box.style2:hover {
  background-color: #555963;
  color: #ffffff;
}
body.dark .tech-container {
  color: #121212;
}
body.dark .tech-container ul li:hover label {
  color: #d6d5d5;
}
body.dark .cv-container a {
  color: #000000;
}
body.dark #contact-submit {
  background-color: #a0a0a0;
  font-size: 1.2rem;
  color: #262727;
}
body.dark #contact-submit:hover {
  background-color: #ffffff;
  font-size: 1.2rem;
  color: #000;
}

.switch {
  background-color: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: 5px 5px 3px 5px;
  align-items: center;
  justify-content: center;
}
.switch::after {
  content: "";
  display: block;
  width: 38px;
  height: 38px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3 ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.switch.active {
  background: rgb(192, 192, 192);
  color: #000;
}
.switch.active::after {
  right: 0;
  left: unset;
}
.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
  margin: 0px 0px 0px 5px;
}

.section-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 350px);
  justify-content: center;
  align-items: center;
  height: 100hv;
}
.section-gallery .work-container {
  position: relative;
  height: 200px;
  width: 350px;
  overflow: hidden;
  cursor: pointer;
  transition: 600ms;
}
.section-gallery .work-container img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}
.section-gallery .work-container .layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}
.section-gallery .work-container .layer h3 {
  color: #ffffff;
  position: absolute;
  margin-bottom: 160px;
  font-size: 1.5rem;
}
.section-gallery .work-container .layer p {
  color: #ffffff;
  position: absolute;
  margin-bottom: 75px;
  font-size: 1.2rem;
  padding: 1em;
}
.section-gallery .work-container .layer a {
  background-color: #7c7c7c;
  color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0.2em 1.2em 0.2em 1.2em;
  border-radius: 4px;
  margin-top: 75px;
  transition: all 250ms ease-in;
  text-decoration: none;
}
.section-gallery .work-container .layer a:hover {
  background-color: #a0a0a0;
  color: #000;
}
.section-gallery .work-container:hover > .layer {
  opacity: 1;
  visibility: visible;
}
.section-gallery .work-container:hover img {
  filter: blur(4px);
}

@media (max-width: 992px) {
  body {
    font-size: 14px;
  }
  .tech-container {
    vertical-align: bottom;
  }
  .tech-img {
    max-width: 3.5em;
    max-height: 3.5em;
    margin: 0em 3em 1em 3em;
  }
  .tech-name {
    margin-right: -7em;
  }
  .tech-container ul li {
    font-size: 1.1em;
  }
  .section-gallery figure {
    width: 100%;
  }
}
@media (max-width: 750px) {
  body {
    font-size: 14px;
  }
  .tech-container ul li {
    font-size: 1em;
    margin-right: 8em;
  }
  .tech-img {
    max-width: 6em;
    max-height: 6em;
  }
  .tech-name {
    margin-right: -8.5em;
  }
  .cv-container {
    margin-top: 1rem;
  }
  .cv-container a {
    padding: 1rem;
  }
  #one {
    justify-content: center;
    align-items: center;
  }
  #one aside {
    grid-area: aside;
  }
  #one section {
    grid-area: section;
  }
  #one {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-areas: "aside" "section";
  }
  .section-gallery figure {
    width: 100%;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 11px;
  }
  #two {
    margin-bottom: -10em;
    margin-top: -5em;
  }
  #one {
    justify-content: center;
    align-items: center;
  }
  #one aside {
    grid-area: aside;
  }
  #one section {
    grid-area: section;
  }
  .tech-container ul {
    margin-right: 3.5em;
  }
  .tech-img {
    max-width: 3.5em;
    max-height: 3.5em;
    margin: 2em 1.5em 2em 1.5em;
  }
  .tech-name {
    margin-top: -2em;
    margin-right: -8.5em;
  }
  .tech-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "aside" "section";
  }
  .cv-container {
    margin-top: 1rem;
  }
  .cv-container a {
    padding: 1rem;
  }
  .content.box.style2 {
    padding: 0em 18em 0em 18em;
  }
  .content.box.style2 a {
    padding: 1.5em 2em 1.5em 2em;
  }
  .content.box.style2:first-child {
    padding: 0em 2em 2em 2em;
    margin-right: -3em;
  }
  .section-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-gallery .work-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .section-gallery .work-container .layer a {
    padding: 1em 2em 1em 2em;
  }
}
@media (max-width: 320px) {
  body {
    font-size: 11px;
  }
  #two {
    margin-bottom: -10em;
    margin-top: -5em;
  }
  #one {
    justify-content: center;
    align-items: center;
  }
  #one aside {
    grid-area: aside;
  }
  #one section {
    grid-area: section;
  }
  .tech-container ul {
    margin-right: -1em;
  }
  .tech-img {
    max-width: 3.2em;
    max-height: 3.2em;
    margin: 1em 0.5em 1em 0.5em;
  }
  .tech-name {
    margin-top: -1em;
    margin-right: -6em;
  }
  .tech-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "aside" "section";
  }
  .cv-container {
    margin-top: 1rem;
  }
  .cv-container a {
    padding: 1rem;
  }
  .content.box.style2 {
    padding: 0em 9em 0em 9em;
  }
  .content.box.style2 a {
    padding: 1em 3em 1em 3em;
  }
  .content.box.style2:first-child {
    padding: 0em 2em 2em 2em;
    margin-right: -3em;
  }
  .section-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-gallery figure {
    width: 100%;
  }
}/*# sourceMappingURL=night-mode.css.map */